@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #242424;
   */
  background-color: black;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
}
